body { font-family: Arial, sans-serif; padding: 14px; }
        .cart { width: 50%; margin: auto; border: 1px solid #ddd; padding: 20px; }
        .cart-item { display: flex; justify-content: space-between; padding: 10px 0; }
        .total { font-weight: bold; margin-top: 20px; }
        button { padding: 10px; margin-top: 10px; cursor: pointer; 
        color: #101820;
}
.cart-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 15px;
}
nav a:hover {
        color: #da291c;
}
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color:#a9d23f;
}
header img {
        height: 50px;
    }
footer {
        margin-top: 20px;
        padding: 20px;
        background-color: #a9d23f;
    }
footer a {
        margin: 0 10px;
        text-decoration: none;
        color: #0077cf;
    }
footer a:hover {
        text-decoration: underline;
        color: #da291c;
    }