html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
body {
        font-family: Arial, sans-serif 14px;
        color: black;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
    }
footer {
        background-color: #D69A2D;
        padding: 20px;
        text-align: center;
        width: 100%;
        margin-top: auto; 
        border-top: 2px solid orange;
        border-bottom: 2px solid orange;
    }
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #D69A2D;
        border-bottom: 2px solid orange;
    }
header img {
        height: 50px;
    }
.cart-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 15px;
}
nav a:hover {
        color: #4169E1;
}
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color:#D69A2D;
}
header img {
        height: 50px;
    }
footer a {
        margin: 0 10px;
        text-decoration: underline;
        color: black;
    }
footer a:hover {
        text-decoration: none;
        color: #4169E1;
    }
/* new */
#cart {
        border: 1px solid white;
        padding: 10px;
        width: 20%;
        margin: auto;
        background-color: white;
        border: 2px solid black;
}
button:hover {
        border-color:transparent;
}
button {
        color: black;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        background-color: transparent;
        border-color:#0077cf;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
}