body {
    font-family: Arial, sans-serif; padding: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #101820;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a9d23f;
}
header img {
    height: 50px;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 15px;
}
nav a:hover {
    color: #da291c
    ;
}
h1 {
    margin: 20px 0;
    color: #9873ac;

}
.courses {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}
.course {
    text-align: center;
    width: 150px;
}
.course img {
    width: 100px;
    height: auto;
}
.course a:hover{
    color: #da291c;
}
footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #a9d23f;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077cf;
}
footer a:hover {
    text-decoration: underline;
    color: #da291c;
}