body {
    font-family: Arial, sans-serif; padding: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #101820;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a9d23f;
}
header img {
    height: 50px;
}
.in-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 15px;
    }
nav a:hover {
    color: #da291c;
}
h1 {
    margin: 20px 0;
    color: #9873ac;
    animation: bounce 1.5s infinite ease-in-out;
}
.courses {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}
.course {
    width: 200px;
    padding: 15px;
    border: 2px solid #f4f4f4;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.course:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.course h2 {
    color: #041E42;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}
strong {
    color: #da291c;

}
footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #a9d23f;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077cf;
}
footer a:hover {
    text-decoration: underline;
    color: #da291c;
}