#sign_up {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: black;
    background-image: url('../images/backg.jpg');
    }
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px  #041E42;
    text-align: center;
    }
.container img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    text-align: center;
    height: 50px;
}
.container input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
    }
h2{
        color: black;
}
.container p {
    color: black;
}
.container a {
    color: black;
    text-decoration: underline;
    }
.container a:hover{
    color: #0077cf;
    text-decoration: none;
}
/* Popup Styles */
.popup {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px orange;
  z-index: 9999; 
  width: 300px; 
  padding: 20px;
  text-align: center;
}
.popup-content {
  padding: 20px;
}
#close-popup {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border-color:#0077cf;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup:hover {
  border: transparent;
}

/* Form container styles */
.container {
  text-align: center;
  padding: 20px;
}
input {
  padding: 5px;
  margin: 5px;
  width: 60%;
  border-radius: 5px;
}
button {
    margin-top: 5px;
    padding: 5px;
    color: black;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    border-color:#0077cf;
}
button:hover{
    border-color: transparent
}