body {
    text-size-adjust: 12pt;
    color: #101820;
    font-family: Arial, sans-serif; padding: 14px;
    margin: 0;
    padding: 0;
 }
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a9d23f;
}
header img {
    height: 50px;
}
h3{
    color: #9873ac;
    justify-self: center;
}
nav a:hover {
    color: #da291c;
}
.logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 15px;
}
.hero {
    border: 2px solid #ccc;
    padding: 15px;
    text-align: center;
    margin: 15px;
}
.hero {
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ-OaAGrAAjBgHNyAzbb1TQdATqKA6oTSs-Q&s); Add a proper background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo-nav {
        flex-direction: column;
        align-items: center;
    }
    .auth-buttons {
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    .hero {
        margin: 10px;
        padding: 15px;
    }
    .info_social {
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .logo-nav img {
        max-width: 80px;
    }
    .search-section input {
        width: 80%;
    }
    .hero {
        padding: 10px;
    }
    .info_social {
        flex-direction: column;
        align-items: center;
    }
}
button:hover{
    border-color: transparent;
}
button {
    background-color: transparent;
    border-color: #0077cf;
}
.foot {
    margin-top: 20px;
    padding: 20px;
    background-color: #a9d23f;
}
.foot a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077cf;
}
.foot a:hover {
    text-decoration: underline;
    color: #da291c;
}
.query-input {
    width: 440px;
    height: 100px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    white-space: pre-wrap;
}