html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../images/backg.jpg');
}
.foot {
    background-color: #D69A2D;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #D69A2D;
    border-bottom: 2px solid orange;
}
header img {
    height: 50px;
}
h3 {
    color: black;
    justify-self: center;
}
nav a:hover {
    color: #4169E1;
    text-decoration: none;
}
.logo-nav a {
    color: black;
}
.logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 15px;
}
.hero {
    border: 1px solid #63666A;
    padding: 2px;
    text-align: center;
    margin: 2px;
}
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive design for tablets and smaller screens */
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo-nav {
        flex-direction: column;
        align-items: center;
    }
    .auth-buttons {
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    .hero {
        margin: 10px;
        padding: 15px;
    }
    .info_social {
        justify-content: center;
    }
}

/* For small screens and mobile devices */
@media (max-width: 768px) {
    .logo-nav {
        flex-direction: column;
        align-items: center;
    }
    .logo-nav img {
        max-width: 80px;
    }
    .search-section input {
        width: 80%;
    }
    .hero {
        padding: 10px;
    }
    .info_social {
        flex-direction: column;
        align-items: center;
    }
}

/* For very small screens */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo-nav {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: 15px;
        margin: 5px;
    }
    .info_social {
        flex-direction: column;
        align-items: center;
    }
    .foot {
        font-size: 12px;
        padding: 10px;
    }
    .query-input {
        width: 90%;
        height: 100px;
        font-size: 16px;
        padding: 12px;
    }
}

/* For buttons */
button {
    background-color: transparent;
    border-color: #0077cf;
}

button:hover {
    border-color: transparent;
}

.foot a {
    margin: 0 10px;
    text-decoration: underline;
    color: black;
}
.foot a:hover {
    text-decoration: none;
    color: #4169E1;
}
